.element__delete-button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: #ffffff00;
    background-image: url(../../../project-images/delete-button.svg);
    background-repeat: no-repeat;
    align-self: flex-end;
    width: 18px;
    height: 19px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.element__delete-button:hover {
    opacity: 0.6;
}