.profile__avatar {
    margin: 0;
    padding: 0;
    max-height: 120px;
    max-width: 120px;
    border-radius: 50%;
}

@media screen and (max-width: 880px) {
    .profile__avatar {
        align-self: center;
        margin: 0 0 26px 0;
    }
}